body{
	width:950px;
	background-color:#ffffff;
}
h2{
	color:#0000FF;
	font-size:22px;
}
h3{
	color:#FF0000;
	font-size:18px;
	margin:0;
	padding:0;
}
a{
	color:#1A8DFF;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
#outline{
	margin:0 auto;
	padding:0;
}
#header{
	margin:0 auto;
	padding:0;
}
#content{
	margin:0 auto;
	padding:0 5px;
	float:left;
	width:700px;
	border:1px solid #C2DAFF;
	background-color:#f4f4f4;
}
#content p{
	font-size:12px;
	font-family:verdana;
}
#sidebar{
	margin:0 auto;
	padding:0 5px;
	width:200px;
	float:right;
	border:1px solid #C2DAFF;
	background-color:#f4f4f4;
}
#footer{
	margin:5px 0;
	background-color:#f4f4f4;
	border:1px solid #C2DAFF;
}
#footer p{
	font-size:12px;
	text-align:center;
}